// Bootstrap brand color customization
// TODO: use names!!!
$brand-primary: #00574b !default;
$brand-success: $green !default;
$brand-danger: $red !default;
$brand-warning: $orange !default;
$brand-info: $cyan !default;
$brand-rose: $pink !default;
